<a href="https://colab.research.google.com/github/p-kolluri/praharsh_data690/blob/main/assignment/Assignment_04_Part_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment_04

Part - A

# 1

In [17]:
with open("census_costs.txt","r") as f:
    line_list = f.readlines()

line_list

['Source: https://www.genealogybranches.com/censuscosts.html\n',
 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n',
 '1790\t3,929,214\t$44,377\t1.13 cents\n',
 '1800\t5,308,483\t$66,109\t1.24 cents\n',
 '1810\t7,239,881\t$178,445\t2.46 cents\n',
 '1820\t9,633,822\t$208,526\t2.16 cents\n',
 '1830\t12,866,020\t$378,545\t2.94 cents\n',
 '1840\t17,069,458\t$833,371\t4.88 cents\n',
 '1850\t23,191,876\t$1,423,351\t6.14 cents\n',
 '1860\t31,443,321\t$1,969,377\t6.26 cents\n',
 '1870\t38,558,371\t$3,421,198\t8.87 cents\n',
 '1880\t50,155,783\t$5,790,678\t11.54 cents\n',
 '1890\t62,979,766\t$11,547,127\t18.33 cents\n',
 '1900\t76,303,387\t$11,854,000\t15.54 cents\n',
 '1910\t91,972,266\t$15,968,000\t17.07 cents\n',
 '1920\t105,710,620\t$25,117,000\t23.76 cents\n',
 '1930\t122,775,046\t$40,156,000\t32.71 cents\n',
 '1940\t131,669,275\t$67,527,000\t51.29 cents\n',
 '1950\t151,325,798\t$91,462,000\t60.44 cents\n',
 '1960\t179,323,175\t$127,934,000\t71.34 cents\n',
 '1970\t203,302,031\t$247,653,000\t$1.22\n',
 '1980\t226,542,199\t$1,078,488,000\t$4.76\n',
 '1990\t248,718,301\t$2,492,830,000\t$10.02\n',
 '2000\t281,421,906\t$4.5 Billion\t$15.99\n',
 '2010*\t308,745,538\t$13 Billion\t$42.11\n']

# 2

In [18]:
top2_list = line_list[0:2]
top2_list

['Source: https://www.genealogybranches.com/censuscosts.html\n',
 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n']

# 3

In [19]:
data_list = line_list[2:]
data_list

['1790\t3,929,214\t$44,377\t1.13 cents\n',
 '1800\t5,308,483\t$66,109\t1.24 cents\n',
 '1810\t7,239,881\t$178,445\t2.46 cents\n',
 '1820\t9,633,822\t$208,526\t2.16 cents\n',
 '1830\t12,866,020\t$378,545\t2.94 cents\n',
 '1840\t17,069,458\t$833,371\t4.88 cents\n',
 '1850\t23,191,876\t$1,423,351\t6.14 cents\n',
 '1860\t31,443,321\t$1,969,377\t6.26 cents\n',
 '1870\t38,558,371\t$3,421,198\t8.87 cents\n',
 '1880\t50,155,783\t$5,790,678\t11.54 cents\n',
 '1890\t62,979,766\t$11,547,127\t18.33 cents\n',
 '1900\t76,303,387\t$11,854,000\t15.54 cents\n',
 '1910\t91,972,266\t$15,968,000\t17.07 cents\n',
 '1920\t105,710,620\t$25,117,000\t23.76 cents\n',
 '1930\t122,775,046\t$40,156,000\t32.71 cents\n',
 '1940\t131,669,275\t$67,527,000\t51.29 cents\n',
 '1950\t151,325,798\t$91,462,000\t60.44 cents\n',
 '1960\t179,323,175\t$127,934,000\t71.34 cents\n',
 '1970\t203,302,031\t$247,653,000\t$1.22\n',
 '1980\t226,542,199\t$1,078,488,000\t$4.76\n',
 '1990\t248,718,301\t$2,492,830,000\t$10.02\n',
 '2000\t281,421,906\t$4.5 Billion\t$15.99\n',
 '2010*\t308,745,538\t$13 Billion\t$42.11\n']

# 4

In [20]:
year_list = []

for line in data_list:
    year = line[0:4]
    year_list.append(year)

print(year_list)

['1790', '1800', '1810', '1820', '1830', '1840', '1850', '1860', '1870', '1880', '1890', '1900', '1910', '1920', '1930', '1940', '1950', '1960', '1970', '1980', '1990', '2000', '2010']

# 5

In [21]:
pop_list = []

for line in data_list:
    part_list = line.split("\t")
    pop = part_list[1]
    pop_list.append(pop)

print(pop_list)

['3,929,214', '5,308,483', '7,239,881', '9,633,822', '12,866,020', '17,069,458', '23,191,876', '31,443,321', '38,558,371', '50,155,783', '62,979,766', '76,303,387', '91,972,266', '105,710,620', '122,775,046', '131,669,275', '151,325,798', '179,323,175', '203,302,031', '226,542,199', '248,718,301', '281,421,906', '308,745,538']

In [30]:
cleansed_pop_list = []

for pop in pop_list:
    cleansed_pop = pop.replace(",", "")
    cleansed_pop_list.append(int(cleansed_pop))

print(cleansed_pop_list)

[3929214, 5308483, 7239881, 9633822, 12866020, 17069458, 23191876, 31443321, 38558371, 50155783, 62979766, 76303387, 91972266, 105710620, 122775046, 131669275, 151325798, 179323175, 203302031, 226542199, 248718301, 281421906, 308745538]

# 6

In [69]:
cost_list = []

for line in data_list:
    part_list = line.split("\t")
    cost = part_list[2]
    cost_list.append(cost)

print(cost_list)

['$44,377', '$66,109', '$178,445', '$208,526', '$378,545', '$833,371', '$1,423,351', '$1,969,377', '$3,421,198', '$5,790,678', '$11,547,127', '$11,854,000', '$15,968,000', '$25,117,000', '$40,156,000', '$67,527,000', '$91,462,000', '$127,934,000', '$247,653,000', '$1,078,488,000', '$2,492,830,000', '$4.5 Billion', '$13 Billion']

In [81]:
cleansed_cost_list = []
for cost in cost_list:
    cleansed_cost = cost.replace(",", "")
    cleansed_cost = cleansed_cost.replace("$", "")
    cleansed_cost = cleansed_cost.replace(" Billion", "000000000")
    cleansed_cost = cleansed_cost.replace(".", "")
    cleansed_cost_list.append(int(cleansed_cost))

print(cleansed_cost_list)

[44377, 66109, 178445, 208526, 378545, 833371, 1423351, 1969377, 3421198, 5790678, 11547127, 11854000, 15968000, 25117000, 40156000, 67527000, 91462000, 127934000, 247653000, 1078488000, 2492830000, 45000000000, 13000000000]

# 7

In [91]:
avg_list = []

for line in data_list:
    part_list = line.split("\t")
    avg = part_list[3]
    avg_list.append(avg)

print(avg_list)

['1.13 cents\n', '1.24 cents\n', '2.46 cents\n', '2.16 cents\n', '2.94 cents\n', '4.88 cents\n', '6.14 cents\n', '6.26 cents\n', '8.87 cents\n', '11.54 cents\n', '18.33 cents\n', '15.54 cents\n', '17.07 cents\n', '23.76 cents\n', '32.71 cents\n', '51.29 cents\n', '60.44 cents\n', '71.34 cents\n', '$1.22\n', '$4.76\n', '$10.02\n', '$15.99\n', '$42.11\n']

In [122]:

cleansed_avg_list=[]
for i in avg_list:
  i=i.replace(" cents","")
  i=i.replace("\n","")
  if "$" == i[0]:
    i=i.replace("$","")
    i=float(i)*100
  cleansed_avg_list.append(round(float(i)/100,4))
print(cleansed_avg_list)

[0.0113, 0.0124, 0.0246, 0.0216, 0.0294, 0.0488, 0.0614, 0.0626, 0.0887, 0.1154, 0.1833, 0.1554, 0.1707, 0.2376, 0.3271, 0.5129, 0.6044, 0.7134, 1.22, 4.76, 10.02, 15.99, 42.11]

# 8

In [147]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [169]:
import csv
from google.colab import files

In [159]:
heading=top2_list[1][:-1].split("\t")
cons_list = []
for i in range(len(year_list)):
  cons_list.append([year_list[i], cleansed_avg_list[i], cleansed_cost_list[i], cleansed_pop_list[i]])

In [167]:
with open("//content//drive//My Drive//690//census_cost.csv", "w+") as f:
    write = csv.writer(f)
    write.writerow(heading)
    write.writerows(cons_list)

# 9

In [168]:
with open("//content//drive//My Drive//690//census_cost.csv") as f:
    reader = csv.reader(f)
    for row in reader:
        print(" ".join(row))

Census Year Total Population Census Cost Average Cost Per Person
1790 0.0113 44377 3929214
1800 0.0124 66109 5308483
1810 0.0246 178445 7239881
1820 0.0216 208526 9633822
1830 0.0294 378545 12866020
1840 0.0488 833371 17069458
1850 0.0614 1423351 23191876
1860 0.0626 1969377 31443321
1870 0.0887 3421198 38558371
1880 0.1154 5790678 50155783
1890 0.1833 11547127 62979766
1900 0.1554 11854000 76303387
1910 0.1707 15968000 91972266
1920 0.2376 25117000 105710620
1930 0.3271 40156000 122775046
1940 0.5129 67527000 131669275
1950 0.6044 91462000 151325798
1960 0.7134 127934000 179323175
1970 1.22 247653000 203302031
1980 4.76 1078488000 226542199
1990 10.02 2492830000 248718301
2000 15.99 45000000000 281421906
2010 42.11 13000000000 308745538